* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  max-width: 1280px;
  gap: 20px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  cursor: pointer;
  padding: 5px;
}